<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular + .NET + Keycloak</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a *ngIf="this.auth"x class="nav-link active btn btn-warning" aria-current="page" (click)="hitBackend()">Consume backend</a>
        </li>        
      </ul>
      <ul class="nav navbar-nav navbar-right">       
        <li><a *ngIf="!this.auth" href="#" (click)="login()"> Login</a></li>        
        <div *ngIf="this.auth" class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle rounded-pill" data-bs-toggle="dropdown" aria-expanded="false">
          {{ this.userName }}          
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">            
            <li><a *ngIf="this.auth" class="dropdown-item"  (click)="logoff()"> logout</a></li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>